# Default ignored files
/shelf/
/workspace.xml
/appInsightsSettings.xml
/deploymentTargetDropDown.xml
/kotlinc.xml
/migrations.xml
/compiler.xml
/misc.xml
/gradle.xml
/caches
/libraries
/modules.xml
/navEditor.xml
/assetWizardSettings.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
